body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #dfdfdf;
    color: #313131;
    display: flex; /*agencement flexible des éléms dans un container*/
    align-items: center; /*sont centrés verticalement avec :center; */
    justify-content: center;/*centrés horizontalement avec :center; */
    min-height: 100vh;
    margin: 0;
}

.deco-furniture {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    width: 70%;
    max-width: 700px;
    display: flex;
    .image-container {
        width: 40%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; /*conserve les proportions*/
        }
    }

    .content-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        column-count: 3;
        padding: 20px;
        box-sizing: border-box;
        h3 {
            margin-bottom: 10px;
        }
        .main_review {
            margin-bottom: 15px;
        }
        .user_reviews {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .share-link {
                color: #313131;
                text-decoration: none;
                display: flex;
                align-items: center;
                svg {
                margin-right: 5px; /* marge à droite pour espacer */

                }        
            }
        }
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    width: 100%; /* .attribution est toute la largeur */
    position: absolute; /* se situe tjrs là */
    bottom: 0; /* .attribution en bas  */
}
