
    .accueil {

        .block-right {
        
            .banana-realistic{
                width: 50%;
                height: auto;
                object-fit: cover;
                position: absolute;
            }
            .prise-de-courant{
                
                z-index: 3;
            }
        }
    }


