// colors:
$black: #090909; // Txt, arrière-plan, icons, ...
$blueElectrik: #000AFF; // button, tirets, mise en évidence, footer, répétitions,...
$yellow: #FFC803; // bannière, ...
$light:#FFF2C2; // effet 'drop shadow'
$white: #ffffff;

// fonts:

$font-basic: 'Darker Grotesque', sans-serif;
$font-title: '',sans-serif;

// @font-face {
//     font-family: 'KyivType Sans-Regular';
//     src: url('./assets/Fonts/Dmitry-Rastvortsev-KyivType/Dmitry/Rastvortsev/-/KyivType/ Sans/Thin.otf') format("opentype");
// }
// $h-title: 'KyivType Sans-Regular',sans-serif;

