// colors:
$black: #090909;
$blueElectrik: #000AFF;
$yellow: #FFC803;
$white: #ffffff;

// fonts:

$font-basic: 'Darker Grotesque', sans-serif;

// @font-face {
//     font-family: 'KyivType Sans-Regular';
//     src: url('./assets/Fonts/Dmitry-Rastvortsev-KyivType/Dmitry/Rastvortsev/-/KyivType/ Sans/Thin.otf') format("opentype");
// }
// $h-title: 'KyivType Sans-Regular',sans-serif;

